<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>LocalizarApp</title>
    
</head>
<body>

	

	<form class="container" method="post">
		Nome: <input type="text" value="" name="nome"/>
		<div class="row">
			<div class="input-field col s6">
				Patrimonio: <input type="text" value="" name="patrimonio"/>
			</div>
			<div class="input-field col s3">
				Serie: <input type="text" value="" name="serie"/>
			</div>
			<div class="input-field col s3">
				Marca: <input type="text" value="" name="marca"/>
			</div>
			
			<div class="input-field col s6">
				Modelo: <input type="text" value="" name="modelo"/>
			</div>
			
			<div class="input-field col s3">
				TagId: <input type="text" value="" name="tag"/>
			</div>
		</div>
		<button class="waves-effect waves-light btn" type="submit">Salvar</button>
	
	</form>
	</div>
	
</body>


</html>